project:
  type: book
  output-dir: docs

book:
  title: "ITC book"
  author: "Nathan Green"
  date: "27/06/2025"
  chapters:
    - index.qmd
    - intro.qmd
    - summary.qmd
    - references.qmd

bibliography: references.bib

format:
  html:
    theme: cosmo
  pdf:
    documentclass: scrreprt



